
.app {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headings {
  display: flex;
  flex-direction: column;
}

.brush-selection {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.paint {
  height: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.palette {
  display: flex;
  margin-left: -30px;
}

.brush {
  display: flex;
 
}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.canvas {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.square {
  transition: 0.5s;
}

.color-1 {
background-color: #4E63E6;
}

.color-2 {
background-color: #E67E5A;
}

.color-3 {
background-color: #43AFE6;
}

.color-4 {
background-color: #E6BA2C;
}

.color-5 {
background-color:white ;
}
